table
{
	width: 25%;
	border: 2px inset #101010;
}

th 
{
	font-weight: 900;
	text-align: left;
	border: 2px inset #101010;
	color: blue;
	font-size: 30px;
}

td
{
	border: 2px inset #101010;
	text-align: left;
	color: green;
	font-size: 20px;
}